
h1{
    color: #214E41;
    font-family: Roboto;
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 9rem; /* 128.571% */
}
.h2-green{
    color: #214E41;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px; 
}

.h2-green-light{
    color: #43806C;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 131.25% */
}
.p-green-bold{
    color: #214E41;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.p-light-gray{
    color: #757575;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.02px;
}

.line-height-20{
    line-height: 20px;  
}
.p-thin-green{
    color: #214E41;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    letter-spacing: 0.05px;
    text-transform: uppercase;
}
.p-white{
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
    letter-spacing: 0.02px;
}